body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.studio {
  color: #2e2f42;
}

.nav-studio-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-hover :hover {
  color: #404bbf;
}

.nav-hover :focus {
  color: #404bbf;
}

.adress {
  font-style: normal;
}

.adress-mail-tel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.mail-tel-hover :hover {
  color: #404bbf;
}

.mail-tel-hover :focus {
  color: #404bbf;
}

/*MAİN EFFECTİVE PLACE FİRST SECTİON*/

.nav-order {
  background-color: #2e2f42;
}

.h-effective {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.order-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.nav-order :hover {
  background-color: #404bbf;
}

.nav-order :focus {
  background-color: #404bbf;
}

/* ABOUT BUİSNESS SECOND SECTİON */

.h-part {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.p-part {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*OUR TEAM THİRD SECTİON */

.our-team {
  background-color: #f4f4fd;
}

.h-our-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.img-li {
  background-color: #ffffff;
}

.h-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.p-job {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*FOURTH SECTİON */

.portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.h-banking {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.p-app {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*FOOTER PLACE*/

.footer-a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.f-footer {
  background-color: #2e2f42;
}

span {
  color: #f4f4fd;
}

.footer-span {
  color: #f4f4fd;
}

.p-footer {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

/*HOPE İS FİNİSH */
